:root {
  --ancho: 75%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border:  1px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1d1d1d;
  width: 100vw;
  color: black;
  margin: auto;
  font-size: 14px;
}

main {
  margin: auto;
  width: 90vw;
  background-color: #1F2937;
  /* border: 2px solid red; */
}



.part1 {
  width: var(--ancho);
  height: 530px;
  background-color: #1F2937;
  color: aliceblue;
  margin: auto;
  /* padding: 30px; */
  /* border: 3px solid orangered; */
  display: flex;
  align-items: center;
}

header {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 3px solid orangered; */
  
  /* border: 3px solid #FFF; */
}


.part1 .navegacion_header {
  /* border: 2px solid #cfe10e; */
  display: flex;
  justify-content: space-between;
  height: 20%;
  
}



.logo_header-container {
  width: 50%;
  display: flex;
  /* /* justify-content: flex-start; */
  align-items: center; 
  gap: 25px;
}
.logo_header-container h3 {
  font-size: 24px;
}

.logo_header-container img {
  
  width: 24px;
  height: 24px;
}

.part1 .links_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.part1 .links_container li {
  font-size: 18px;
  padding-left: 50px;
  list-style-type: none;
}


.part1 .header_container {
  display: flex;
  height: 75%;
  /* border: 3px solid orangered; */
  /* padding-top: 40px; */
  /* gap: 20px; */
}

.header_container-izq {
  display: flex;
  flex-direction: column;
  /* align-items: }center; */
  justify-content: center;
  height: 100%;
  width: 50%;
  padding-right: 80px;
  /* background-color: #7C848E; */
}

.header_container-izq h2 {
  font-size: 48px;
}


.header_container-izq p {
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
}

.header_container-izq button {
  font-size: 20px;
  color: white;
  background-color: #3B82F6;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.header_container-der {
  width: 50%;
  display: flex;
  
  /* margin: auto; */
  justify-content: flex-end;
  align-items: center;
}

.header_container-der img {
  
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

/* ============= SEGUNDA SECCION =========================== */

.part2 {
  /* width: var(--ancho); */
  height: 530px;
  color: #1d1d1d;
  background-color: aliceblue;

}

.card_container {
  margin: auto;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 4px dashed red; */
  align-items: center;
  justify-content: space-around;
}


.card_container h3 {
  font-size: 35px;
  height: 25%;
  padding-top: 50px;
  text-align: center;
  color: #1F2937;
}

.card_group {
  display: flex;
  width: 80%;

  justify-content: space-between;
  height: 75%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 4px solid #e10e89; */
  gap: 15px;
}

.card_container-img {
  width: 150px;
  height: 180px;
  border: 4px solid #3B82F6;
  border-radius: 10px;
}

.card_container-text {
  width: 200px;
  height: 200px;
  /* border: 4px solid #3B34F6; */
  border-radius: 10px;
}

.card_text {
  text-align: center;
  font-size: 18px;
  color: #7C848E;
  /* text-align: center; */
}


/* ============= TERCERA SECCION =========================== */

.part3 {
  margin: auto;
  height: 475px;
  background-color: #E5E7EB;
  display: flex;
}

.container_frase {
  width: 75%;
  margin: auto;
  /* border: 2px solid green; */
}

.container_frase div {
  width: 80%;
  margin: auto;

}

.container_frase div p {
  padding: 20px 50px;
  font-weight: 300;
  font-size: 44px;
  font-style: oblique;

}

.container_frase div :nth-child(2) {
  text-align: right;
  font-weight: 600;
  font-size: 24px;

  font-style: normal;
}

/* ============= CUARTA SECCION =========================== */


.part4{
  height: 350px;
  background-color: #FFF;
}

.display_container{
  margin: auto;
  width: 75%;
  height: 100%;
  /* border: 3px solid orangered; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.display{
  width: 80%;
  height: 45%;
  background-color: #3B82F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.display-izq{
  width: 60%;
  /* border: 3px solid orangered; */
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  justify-content: center;
}

.display-izq h4{
  font-size: 22px;
  color:#fff
}
.display-izq p{
  font-size: 14px;
  color:#fff
}

.display-der{
  width: 40%;
  /* border: 3px solid orangered; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_button{
  width: 140px;
  height: 50px;
  font-size: 16px;
  background-color: #3B82F6;
  border:none;
  border: 3px solid #E5E7EB;
  border-radius: 10px;
  color: #eaeaea;
}

footer{
  width: 100%;
  height: 105px;
  background: #1F2937;
  display: flex;
}

footer .pie{
  margin: auto;
  width: 75%;
}

footer .pie > p{
  font-size: 20px;
  color: #eaeaea;
  text-align: center;
}


/* width: var(--ancho); */