*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Roboto", sans-serif;
  background-color: #1d1d1d;
  width: 100vw;
  color: black;
  margin: auto;
  font-size: 14px;
}


.part1{
  width: 90vw;
  height: 350px;
  background-color:#1E2939;
  color: aliceblue;
  margin: auto;
  padding: 30px;
}

.part1 .navegacion_header{
  
  display: flex;
  justify-content: space-between;
}

.logo_header-container{
  width: 50%;
  display: flex;
  /* justify-content: flex-start;
  align-items: center; */
  
}
.logo_header-container img{
  margin-right: 25px;
   width: 20px;
  height: 20px;
 }

.part1 .links_container {
  display: flex;
  justify-content: flex-end;
}

.part1 .links_container li{
  padding-left: 50px;
  list-style-type: none;
}


.part1 .header_container{
  display: flex;
  padding-top: 40px;
}

.header_container-izq{
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 50%;
}

.header_container-izq h2{
  font-size: 38px;
}


.header_container-izq p{
  font-size: 24px;
}

.header_container-der{
   /* flex-direction: column; */
   width: 50%;
   display: flex;
   margin: auto;
    
}
.header_container-der img{
   
   width: 50%;
   
    
}


.part2{
  margin: auto;
  width: 90vw;
  height: 250px;
  color: #1d1d1d;
  background-color: aliceblue;
}


.part3{
  margin: auto;
  width: 90vw;
  height: 250px;
  background-color: #aaa;
}


/* =============================================== */

.padre{
  margin: auto;
  width: 1000px;
  height: 100VH;
  background: #aaa;
  display: flex;
}

.hijo{
  background-color: #1E2939;
  width: 90%;
  height: 90%;
  margin-top: 10%;
  
  margin: auto;
}

